$primary_color: #a31a1a;
$secondary_color: rgb(225, 127, 127);
$wrapper_color: white;

$font-sizes: (
  small: 0.9rem,
  medium: 1rem,
  large: 1.2rem  
);
$font-weights:(
    normal:500,
    bold:800
);